@import url("//unpkg.com/element-ui@2.15.10/lib/theme-chalk/index.css");
.el-header {
    background-color: rgb(237, 224, 215);
    color: #333;
    text-align: center;
    line-height: 60px;
    height: 100%;
  }
.el-header img{
    width: 200px; 
    height: 62px;
    z-index: 0;
    float: left;
}
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 200px;
    background-repeat:no-repeat; 
    background-size: cover;
    height: 100%;
  }
  
  body > .el-container {
    height: 100%;
    max-width: 1080px;
  }
  .el-header span {
    display: block;
    float: right;
    margin-left: 45px;
    font-size: 23px;
    color: rgb(181, 80, 85);
    font-weight: bold;
  }
.el-header a {
  text-decoration:none;
  color:rgb(181, 80, 85);
}
#app{
	width:1250px;
	height:500px;
	MARGIN-RIGHT: auto;
	MARGIN-LEFT: auto;
}
